langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
deepeval
FlashRank
langchain_huggingface
fastapi
sentence_transformers
faiss-cpu
rank_bm25
uvicorn
